@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #353535;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #353535;
}

ul {
  list-style: none;
}

/* REUSABLE */
.title {
  text-align: center;
  background-color: #353535;
  color: #fff;
  padding: 10px 30px;
  width: 100%;
}

.subtitle {
  text-align: center;
  width: 100%;
  padding: 0 30px;
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 200px;
  gap: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100vw;
  height: 100%;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

/* NAV */
.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 8vh;
  z-index: 50;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0px 200px;
  gap: 12px;
}

.nav-item {
  padding: 5px 10px;
  transition-property: all;
  transition-duration: 300ms;
  border-radius: 5px;
  text-wrap: nowrap;
}

.nav-item:hover {
  background-color: #353535;
  color: #fff;
  border-radius: 5px;
}

.hm {
  display: none;
  cursor: pointer;
  padding: 5px 10px;
  transition-property: all;
  transition-duration: 300ms;
  border-radius: 5px;
  text-wrap: nowrap;
}

.hm:hover {
  background-color: #353535;
  color: #fff;
  border-radius: 5px;
}

.mobile-nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 200px;
  align-items: center;
  flex-direction: column-reverse;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background-color: #353535;
  z-index: 20;
  gap: 50px;
}

.mobile-nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mobile-nav_item {
  padding: 5px 10px;
  transition-property: all;
  transition-duration: 300ms;
  border-radius: 5px;
  text-wrap: nowrap;
  color: #fff;
  cursor: pointer;
}

.mobile-nav_item:hover {
  background-color: #fff;
  color: #353535;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }

  .hm {
    display: flex;
  }
}

/* HOME */
.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 4px;
  overflow: hidden;
}

.home h1 {
  font-size: 9vw;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.home p {
  z-index: 10;
  font-size: 25px;
  background-color: #353535;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  text-align: end;
}

/* CU SUPERVISADO */
.CUS-items {
  height: 100vh;
  width: 100%;
  padding: 20px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.CUS-item1 {
  border: 1px solid #353535;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  grid-row: span 2 / span 2;
  gap: 10px;
}

.CUS-item2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  grid-column-start: 2;
  border: 1px solid #353535;
  gap: 10px;
}

@media (max-width: 500px) {
  .CUS-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  .CUS-item1, .CUS-item2 {
    grid-column: span 1;
  }
}

/* RL */
.RL-item img {
  width: 100%;
  object-fit: contain;
  padding: 0 30px;
}

/* RLg */
.RLg-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.RLg-item {
  width: 100%;
  height: 100vh;
}

.RLg-item iframe {
  width: 100%;
  object-fit: contain;
}