<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
    <title>Caso Uso Supervisado | Machine Learning</title>
  </head>
  
  <body>
    <header class="header-section">
      <nav class="nav-section">
        <a href="{{ url_for('home')}}" class="nav-item">Volver a Inicio</a>
      </nav>
    </header>

    <main class="main">
      <section class="main-header">
        <h1 class="title">Investigacion Caso de Uso Machine Learning Supervisado</h1>
        <p class="subtitle">Caso de Éxito: Spotify</p>
      </section>

      <section class="CUS-items">
        <div class="CUS-item1">
          <h2>Problema</h2>
          <p>En la industria de la musica, se necesita proporcionar recomendaciones personalizadas, ya que es crucial para que el usuario tenga una experiencia completa y personalizada.</p>
        </div>

        <div class="CUS-item2">
          <h2>Solucion</h2>
          <p>Con K-Nearest Neighbors (KNN), y usando ML Supervisado, se logra predecir que canciones y artistas les gustarian a los usuarios.</p>
        </div>

        <div class="CUS-item2">
          <h2>Beneficios</h2>
          <ul>
            <li>Personalizacion Avanzada.</li>
            <li>Mayor retencion de usuarios.</li>
            <li>Descubrimiento de nuevos artistas y generos.</li>
            <li>Mejores decisiones comerciales.</li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>